In [1]:
from sklearn import tree
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import os
import numpy as np

In [2]:
df = pd.read_csv('student-mat-por_combinedData.csv')

In [3]:
df.head()

,Unnamed: 0,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,...,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3,subject
0,0,GP,F,18,U,GT3,A,4,4,at_home,...,3,4,1,1,3,6,5,6,6,Math
1,1,GP,F,17,U,GT3,T,1,1,at_home,...,3,3,1,1,3,4,5,5,6,Math
2,2,GP,F,15,U,LE3,T,1,1,at_home,...,3,2,2,3,3,10,7,8,10,Math
3,3,GP,F,15,U,GT3,T,4,2,health,...,2,2,1,1,5,2,15,14,15,Math
4,4,GP,F,16,U,GT3,T,3,3,other,...,3,2,1,2,5,4,6,10,10,Math

In [4]:
# df.astype('str')

In [5]:
# df1 = pd.read_csv('student-por.csv', sep = ';', header=0)
# df1.head()

In [6]:
# df1.astype('str')

In [7]:
grade = []
for x in df["G3"]:
    
    if x > 15:
        grade.append(4)
    elif x >= 10:
        grade.append(3)
    elif x >= 5:
        grade.append(2)
    else:
        grade.append(1)
print(grade)

[2, 2, 3, 3, 3, 3, 3, 2, 4, 3, 2, 3, 3, 3, 4, 3, 3, 3, 2, 3, 3, 3, 4, 3, 2, 2, 3, 3, 3, 3, 3, 4, 4, 3, 3, 2, 4, 3, 3, 3, 3, 3, 4, 3, 2, 2, 3, 4, 3, 2, 3, 3, 3, 3, 3, 3, 3, 3, 2, 4, 3, 3, 2, 2, 3, 3, 3, 2, 2, 4, 3, 3, 2, 3, 3, 3, 3, 3, 3, 2, 3, 3, 2, 3, 3, 2, 2, 3, 3, 2, 2, 4, 2, 3, 3, 3, 3, 3, 3, 2, 2, 4, 3, 2, 4, 3, 2, 4, 3, 4, 4, 3, 3, 4, 2, 4, 3, 3, 2, 3, 3, 3, 3, 3, 2, 3, 3, 2, 1, 4, 1, 1, 3, 3, 1, 1, 1, 1, 3, 3, 1, 2, 3, 3, 1, 3, 1, 3, 1, 3, 1, 3, 3, 1, 3, 2, 3, 3, 3, 3, 1, 2, 1, 3, 2, 3, 3, 4, 1, 3, 1, 4, 3, 1, 2, 2, 3, 2, 2, 3, 2, 3, 4, 2, 3, 3, 3, 3, 2, 3, 3, 2, 2, 3, 3, 3, 4, 3, 4, 3, 4, 3, 3, 2, 3, 2, 2, 3, 3, 2, 2, 3, 3, 2, 3, 3, 1, 2, 2, 3, 2, 1, 4, 3, 3, 2, 3, 3, 2, 3, 3, 3, 2, 3, 2, 3, 3, 3, 3, 1, 3, 3, 1, 3, 1, 4, 3, 2, 2, 3, 2, 3, 2, 2, 3, 2, 3, 3, 3, 1, 4, 2, 3, 2, 1, 4, 3, 3, 3, 1, 2, 3, 3, 3, 3, 3, 2, 2, 2, 3, 2, 3, 3, 3, 3, 3, 4, 3, 3, 3, 3, 3, 3, 4, 3, 3, 1, 2, 3, 4, 3, 3, 3, 4, 3, 3, 4, 2, 3, 3, 1, 3, 3, 3, 3, 3, 1, 2, 3, 3, 3, 2, 3, 3, 3, 3, 4, 3, 2, 3, 2, 3, 1, 1, 1, 3, 3, 1, 4, 3, 3, 1, 3, 1, 3, 3, 4, 2, 3, 3, 2, 3, 2, 2, 3, 2, 3, 3, 3, 4, 3, 3, 3, 3, 3, 3, 3, 1, 3, 3, 2, 3, 3, 2, 4, 3, 3, 3, 3, 3, 3, 2, 3, 1, 2, 3, 2, 1, 2, 1, 2, 4, 2, 3, 2, 3, 3, 3, 3, 3, 3, 3, 3, 4, 3, 3, 3, 3, 3, 3, 4, 3, 3, 2, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 4, 3, 3, 3, 4, 2, 3, 3, 3, 3, 4, 3, 4, 4, 4, 3, 3, 3, 4, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 2, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 2, 4, 3, 3, 4, 3, 3, 3, 3, 3, 3, 3, 3, 4, 3, 3, 4, 3, 3, 3, 3, 3, 3, 3, 3, 2, 3, 3, 3, 3, 3, 2, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 2, 3, 2, 3, 3, 3, 3, 2, 3, 3, 3, 3, 3, 2, 3, 1, 3, 3, 3, 3, 2, 3, 3, 3, 1, 3, 2, 2, 3, 2, 2, 2, 3, 4, 3, 4, 3, 4, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 4, 3, 4, 3, 3, 4, 3, 3, 3, 3, 3, 3, 3, 4, 3, 3, 4, 3, 3, 3, 3, 3, 3, 2, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 4, 2, 4, 3, 3, 4, 3, 3, 3, 3, 2, 3, 4, 3, 3, 3, 3, 2, 2, 2, 3, 3, 3, 3, 2, 2, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 4, 3, 3, 2, 3, 3, 2, 3, 2, 3, 3, 3, 3, 4, 3, 3, 3, 3, 3, 3, 4, 3, 3, 3, 3, 3, 3, 3, 3, 2, 4, 3, 3, 3, 3, 3, 4, 3, 4, 3, 4, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 4, 3, 3, 3, 3, 4, 3, 3, 4, 4, 4, 4, 3, 3, 3, 3, 4, 4, 3, 3, 2, 4, 4, 3, 3, 3, 3, 3, 3, 4, 4, 3, 4, 3, 3, 3, 3, 4, 4, 3, 3, 3, 3, 2, 3, 3, 3, 4, 3, 3, 3, 4, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 4, 3, 4, 3, 3, 4, 4, 3, 3, 3, 4, 3, 3, 3, 3, 3, 4, 3, 4, 3, 3, 3, 4, 4, 3, 3, 4, 3, 3, 3, 3, 3, 3, 4, 2, 3, 3, 3, 2, 3, 3, 3, 2, 3, 3, 4, 1, 2, 3, 2, 3, 2, 3, 2, 4, 3, 3, 3, 3, 2, 2, 2, 3, 3, 3, 3, 3, 3, 3, 3, 3, 2, 3, 3, 3, 3, 3, 3, 4, 3, 3, 3, 2, 3, 2, 3, 3, 3, 2, 3, 2, 3, 3, 3, 2, 3, 3, 2, 3, 3, 2, 3, 3, 3, 3, 4, 2, 3, 2, 3, 3, 3, 3, 3, 2, 4, 4, 3, 2, 2, 2, 3, 4, 3, 2, 1, 2, 3, 2, 2, 2, 4, 3, 3, 2, 3, 2, 3, 2, 4, 3, 3, 3, 3, 3, 3, 3, 3, 3, 2, 3, 2, 4, 3, 3, 4, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 1, 3, 2, 2, 1, 2, 2, 2, 2, 2, 3, 3, 3, 3, 3, 3, 2, 3, 2, 2, 1, 3, 2, 1, 2, 2, 3, 2, 3, 3, 3, 4, 4, 4, 1, 3, 3, 3, 3, 3, 1, 3, 1, 4, 3, 3, 3, 1, 3, 3, 3, 3, 3, 3, 4, 3, 3, 3, 3, 2, 4, 2, 3, 1, 3, 3, 2, 4, 3, 2, 3, 4, 2, 4, 1, 4, 1, 1, 3, 3, 3, 3, 4, 2, 3, 3]

In [8]:
df["grade"] = grade
df

,Unnamed: 0,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,...,goout,Dalc,Walc,health,absences,G1,G2,G3,subject,grade
0,0,GP,F,18,U,GT3,A,4,4,at_home,...,4,1,1,3,6,5,6,6,Math,2
1,1,GP,F,17,U,GT3,T,1,1,at_home,...,3,1,1,3,4,5,5,6,Math,2
2,2,GP,F,15,U,LE3,T,1,1,at_home,...,2,2,3,3,10,7,8,10,Math,3
3,3,GP,F,15,U,GT3,T,4,2,health,...,2,1,1,5,2,15,14,15,Math,3
4,4,GP,F,16,U,GT3,T,3,3,other,...,2,1,2,5,4,6,10,10,Math,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1039,1039,MS,F,19,R,GT3,T,2,3,services,...,2,1,2,5,4,10,11,10,Por,3
1040,1040,MS,F,18,U,LE3,T,3,1,teacher,...,4,1,1,1,4,15,15,16,Por,4
1041,1041,MS,F,18,U,GT3,T,1,1,other,...,1,1,1,5,6,11,12,9,Por,2
1042,1042,MS,M,17,U,LE3,T,3,1,services,...,5,3,4,2,6,10,10,10,Por,3
1043,1043,MS,M,18,R,LE3,T,3,2,services,...,1,3,4,5,4,10,11,11,Por,3

In [9]:
new_df = df.drop(columns = ["G2","G1","G3","Unnamed: 0"])
new_df

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,subject,grade
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,no,4,3,4,1,1,3,6,Math,2
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,no,5,3,3,1,1,3,4,Math,2
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,no,4,3,2,2,3,3,10,Math,3
3,GP,F,15,U,GT3,T,4,2,health,services,...,yes,3,2,2,1,1,5,2,Math,3
4,GP,F,16,U,GT3,T,3,3,other,other,...,no,4,3,2,1,2,5,4,Math,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1039,MS,F,19,R,GT3,T,2,3,services,other,...,no,5,4,2,1,2,5,4,Por,3
1040,MS,F,18,U,LE3,T,3,1,teacher,services,...,no,4,3,4,1,1,1,4,Por,4
1041,MS,F,18,U,GT3,T,1,1,other,other,...,no,1,1,1,1,1,5,6,Por,2
1042,MS,M,17,U,LE3,T,3,1,services,services,...,no,2,4,5,3,4,2,6,Por,3
1043,MS,M,18,R,LE3,T,3,2,services,other,...,no,4,4,1,3,4,5,4,Por,3

In [10]:
data = new_df.values
X = new_df.drop(columns =["grade"])
y = new_df['grade']
y

0       2
1       2
2       3
3       3
4       3
       ..
1039    3
1040    4
1041    2
1042    3
1043    3
Name: grade, Length: 1044, dtype: int64

In [11]:
cat_columns = ["school","sex","address","famsize","Pstatus","Mjob","Fjob","reason","guardian","schoolsup","famsup","paid","activities","nursery","higher","internet","romantic","subject"]
cat_columns2 = ["freetime","age","health","Walc","goout"]
cat_columns2

['freetime', 'age', 'health', 'Walc', 'goout']

In [12]:
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder
label_encoder = LabelEncoder()

In [13]:
X[cat_columns] = X[cat_columns].apply(LabelEncoder().fit_transform)
X

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,internet,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,subject
0,0,0,18,1,0,0,4,4,0,4,...,0,0,4,3,4,1,1,3,6,0
1,0,0,17,1,0,1,1,1,0,2,...,1,0,5,3,3,1,1,3,4,0
2,0,0,15,1,1,1,1,1,0,2,...,1,0,4,3,2,2,3,3,10,0
3,0,0,15,1,0,1,4,2,1,3,...,1,1,3,2,2,1,1,5,2,0
4,0,0,16,1,0,1,3,3,2,2,...,0,0,4,3,2,1,2,5,4,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1039,1,0,19,0,0,1,2,3,3,2,...,1,0,5,4,2,1,2,5,4,1
1040,1,0,18,1,1,1,3,1,4,3,...,1,0,4,3,4,1,1,1,4,1
1041,1,0,18,1,0,1,1,1,2,2,...,0,0,1,1,1,1,1,5,6,1
1042,1,1,17,1,1,1,3,1,3,3,...,1,0,2,4,5,3,4,2,6,1
1043,1,1,18,0,1,1,3,2,3,2,...,1,0,4,4,1,3,4,5,4,1

In [14]:
X2= X[cat_columns2]
X2= X2.apply(LabelEncoder().fit_transform)

In [15]:
X2

      freetime  age  health  Walc  goout
0            2    3       2     0      3
1            2    2       2     0      2
2            2    0       2     2      1
3            1    0       4     0      1
4            2    1       4     1      1
...        ...  ...     ...   ...    ...
1039         3    4       4     1      1
1040         2    3       0     0      3
1041         0    3       4     0      0
1042         3    2       1     3      4
1043         3    3       4     3      0

[1044 rows x 5 columns]

In [16]:
y

0       2
1       2
2       3
3       3
4       3
       ..
1039    3
1040    4
1041    2
1042    3
1043    3
Name: grade, Length: 1044, dtype: int64

In [17]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.01,random_state=52)

In [39]:
X_train

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,internet,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,subject
202,0,0,17,1,0,1,1,1,2,2,...,0,0,4,4,4,1,3,1,4,0
610,0,0,16,1,0,1,2,3,2,2,...,0,0,4,4,3,1,3,4,4,1
222,0,0,16,1,0,1,2,3,3,4,...,1,0,2,3,1,1,1,3,2,0
651,0,1,18,1,0,1,2,2,2,0,...,1,1,4,4,3,2,2,1,26,1
842,1,1,17,0,0,1,2,1,2,2,...,0,1,5,5,5,5,5,3,8,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1041,1,0,18,1,0,1,1,1,2,2,...,0,0,1,1,1,1,1,5,6,1
229,0,0,17,1,0,0,2,1,2,2,...,1,1,3,2,3,1,2,3,10,0
70,0,1,16,1,0,1,3,1,2,2,...,1,0,4,3,2,1,1,5,0,0
132,0,0,17,1,1,1,2,2,2,2,...,1,1,3,4,4,1,3,5,12,0
109,0,0,16,1,1,1,4,4,1,1,...,1,1,5,4,5,1,1,4,4,0

In [18]:
y_test

157    3
443    3
728    3
515    3
819    3
      ..
9      3
905    4
687    3
359    4
541    3
Name: grade, Length: 105, dtype: int64

In [19]:
from sklearn.linear_model import LogisticRegression 
# import statsmodels.api as sm
classifier = LogisticRegression()
classifier

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [40]:
 classifier.fit(X_train, y_train)

C:\Users\prasa\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\prasa\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:469: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)

In [43]:
# classifier.classes_

In [22]:
print(f"Training Data Score: {classifier.score(X_train, y_train)}")
print(f"Testing Data Score: {classifier.score(X_test, y_test)}")

Training Data Score: 0.7007454739084132
Testing Data Score: 0.7047619047619048

In [23]:
predictions = classifier.predict(X_test)
predictions_table=pd.DataFrame({"Predictions": predictions, "Actual": y_test})

In [24]:
predictions_table

     Predictions  Actual
157            2       3
443            3       3
728            3       3
515            3       3
819            3       3
..           ...     ...
9              3       3
905            3       4
687            3       3
359            3       4
541            3       3

[105 rows x 2 columns]

In [25]:
clf = tree.DecisionTreeClassifier()
clf = clf.fit(X_train, y_train)
clf.score(X_test, y_test)

0.638095238095238

In [26]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=200)
rf = rf.fit(X_train, y_train)
rf.score(X_test, y_test)

0.6666666666666666

In [27]:
feature_names= X.columns

In [28]:
sorted(zip(rf.feature_importances_, feature_names), reverse=True)

[(0.09431470658430507, 'absences'),
 (0.04940277928827338, 'goout'),
 (0.04820464428852552, 'failures'),
 (0.047808047713012634, 'freetime'),
 (0.04621550217000611, 'age'),
 (0.0460734822973963, 'health'),
 (0.04582746234995301, 'subject'),
 (0.04169578547983705, 'Walc'),
 (0.04128442370309191, 'Fedu'),
 (0.04125525682506569, 'famrel'),
 (0.040242044868852106, 'Mjob'),
 (0.039912455119113045, 'Medu'),
 (0.03840244495392824, 'Fjob'),
 (0.0368899085429394, 'reason'),
 (0.036058949247883214, 'studytime'),
 (0.02764659994984123, 'traveltime'),
 (0.02519755065763888, 'Dalc'),
 (0.02216482687370909, 'guardian'),
 (0.021466367305715356, 'paid'),
 (0.02097278714572224, 'famsup'),
 (0.020445053454043773, 'activities'),
 (0.020320108575527542, 'romantic'),
 (0.019962880673715523, 'sex'),
 (0.019495632167657078, 'famsize'),
 (0.018805014792100994, 'school'),
 (0.01759252624585557, 'address'),
 (0.01656357638724355, 'nursery'),
 (0.015272219541138984, 'higher'),
 (0.014816402254387467, 'internet'),
 (0.01440038547616344, 'schoolsup'),
 (0.011290175067356549, 'Pstatus')]

In [29]:
from sklearn.model_selection import train_test_split

X2_train, X2_test, y2_train, y2_test = train_test_split(X2, y, test_size=0.1,random_state=42)

In [30]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression()
classifier

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [31]:
classifier.fit(X2_train, y2_train)

C:\Users\prasa\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\prasa\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:469: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [32]:
print(f"Training 2 Data Score: {classifier.score(X2_train, y2_train)}")
print(f"Testing 2 Data Score: {classifier.score(X2_test, y2_test)}")

Training 2 Data Score: 0.6698615548455804
Testing 2 Data Score: 0.6

In [33]:
predictions2 = classifier.predict(X2_test)
predictions_table2=pd.DataFrame({"Predictions": predictions2, "Actual": y2_test})

In [34]:
predictions_table2

     Predictions  Actual
971            3       3
280            3       2
536            3       3
824            3       3
644            3       3
..           ...     ...
928            3       4
445            3       3
54             3       3
23             3       3
440            3       3

[105 rows x 2 columns]

In [38]:
# Save the model
from joblib import dump, load

dump(classifier, 'Lg.joblib')

['Lg.joblib']

In [ ]:
clf2 = tree.DecisionTreeClassifier()
clf2 = clf2.fit(X2_train, y2_train)
clf2.score(X2_test, y2_test)

In [ ]:
from sklearn.ensemble import RandomForestClassifier
rf2 = RandomForestClassifier(n_estimators=200)
rf2 = rf2.fit(X2_train, y2_train)
rf2.score(X2_test, y2_test)

In [ ]:
feature_names2= X2.columns
sorted(zip(rf2.feature_importances_, feature_names2), reverse=True)

In [ ]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.preprocessing import StandardScaler
X_scaler = StandardScaler().fit(X2_train)

In [ ]:
X_train_scaled = X_scaler.transform(X2_train)
X_test_scaled = X_scaler.transform(X2_test)

In [ ]:
train_scores = []
test_scores = []
for k in range(1, 35, 2):
    knn = KNeighborsClassifier(n_neighbors=k)
    knn.fit(X_train_scaled, y2_train)
    train_score = knn.score(X_train_scaled, y2_train)
    test_score = knn.score(X_test_scaled, y2_test)
    train_scores.append(train_score)
    test_scores.append(test_score)
    print(f"k: {k}, Train/Test Score: {train_score:.3f}/{test_score:.3f}")

In [ ]:
plt.plot(range(1, 35, 2), train_scores, marker='o')
plt.plot(range(1, 35, 2), test_scores, marker="x")
plt.xlabel("k neighbors")
plt.ylabel("Testing accuracy Score")
plt.show()

In [ ]:
knn = KNeighborsClassifier(n_neighbors=5)
knn.fit(X_train_scaled, y_train)
print('k=5 Test Acc: %.3f' % knn.score(X_test_scaled, y_test))